<template>
<!--                               Карточка товара-->
  <div class="v-card">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img :src="`/storage/${book.image}`" alt="not loaded yet"/>
        <div class="caption">
          <h3>{{ book.name }}</h3>
          <p>{{ book.total }} штук доступно</p>
          <p>
          <form :action="`/basket/add/${book.id}`" method="POST">
            <button v-if="book.available" type="submit" class="btn btn-primary" role="button">В корзину</button>
            <span v-else>
              Отсутствует
            </span>
            <a :href="`${book.category}/${book.code}`" class="btn btn-default"
               role="button">Подробнее</a>
            <input type="hidden" name="_token" :value="csrf">
          </form>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VCard",
  props: {
    book: {
      required: true,
      type: Object
    },
    csrf: {
      required: true
    },
  }
}
</script>