<template>
  <div class="v-categories">
    <Loader v-if="loading"/>

    <VCategoriesCategory
        v-else
        v-for="category in categories"
        :category="category"
        :key="category.code"
    />
  </div>
</template>

<script>
import VCategoriesCategory from "../components/VCategoriesCategory";
import {mapGetters, mapState, mapActions} from 'vuex';

export default {
  name: "VCategories",
  components: {VCategoriesCategory},
  data() {
    return {
      categories: [],
      loading: true,
    }
  },
  computed: {
    ...mapGetters(['CATEGORIES']),
  },
  methods: {
    ...mapActions(["FETCH_CATEGORIES"]),
  },
  async mounted() {
    // Забираем категории товаров
    // Если категории есть в сторе
    if (this.CATEGORIES.length === 0) {
      this.categories = await this.FETCH_CATEGORIES();
      this.loading = false;
    } else {
      this.categories = this.CATEGORIES;
      this.loading = false;
    }
  },
}
</script>


