<template>
  <div class="v-category">
    <Loader v-if="loading"/>

    <template v-else>
      <h1>
        {{ category.name }} - Всего в жанре {{ category.books.length }} книг.
      </h1>
      <p>
      {{ category.description }}
      </p>
      <div class="row">
      <VCard v-for="book of category.books" :book="book" :csrf="csrf"/>
      </div>
    </template>
  </div>
</template>

<script>
import {mapActions} from "vuex"
import VCard from "../components/app/VCard";

export default {
  name: "VCategory",
  components: {VCard},
  data() {
    return {
      category: null,
      loading: true,
    }
  },
  methods: {
    ...mapActions(["FETCH_CATEGORY"]),
  },
  props:['code','csrf'],
  async mounted() {
      this.category = await this.FETCH_CATEGORY(this.code);
      this.loading = false;
  },
}
</script>

<style scoped>

</style>
<!--<h1>-->
<!--{{$category->name}} - Всего в жанре {{ $category->books->count() }} книг.-->
<!--</h1>-->
<!--<p>-->
<!--{{ $category->description }}-->
<!--</p>-->
<!--<div class="row">-->
<!--@foreach($category->books as $book)-->
<!--@include('layouts.card', compact('book'))-->
<!--@endforeach-->
<!--</div>-->