<template>
  <div class="v-categories-category">
    <div class="panel">
      <a :href="category.code">
        <h2>
          {{ category.name }}
        </h2>
      </a>
      <!--      <router-link :to="{name: 'category', params: {category: category.code}}">-->
      <!--        <h2>{{ category.name }}</h2>-->
      <!--      </router-link>-->
      <p>
        {{ category.description }}
      </p>
    </div>
  </div>
</template>


<script>
export default {
  name: "VCategoriesCategory",
  props: {
    category: {
      required: true,
      type: Object,
    },
  }

}
</script>



